.container#content {
  margin-top: 60px;
}
body {
  background-color: $light-gray;
  font-family: $site-font;
}
a {
  color: #0056b3 !important;
  &:hover {
    color: #007bff !important;
    text-decoration: none;
  }
}
h1 {
  margin-bottom: 20px;
  text-align: center;
}
.navbar {
  background-color: #ffbb00;
  // border-right: 1px solid rgba(0, 0, 0, 0.4);
  // border-left: 1px solid rgba(0, 0, 0, 0.4);
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: #fff;
  &:hover {
    color: #FFF;
  }
}
ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
